*{
    padding: 0;
    margin: 0;
}

:root{
    --blue-btn:#3C64B1;
    --text : #373F41;
    --text-sub : #737B7D;
    --white : white;
    --white-bg :#F4F5F4; 
}

html{  
    font-family: 'Roboto', sans-serif;
}

ul{
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}

li{
    padding-left: 0px;
    margin-left: 0px;
}

a{
    text-decoration: none;
    color: black;
}

@keyframes Appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Disappear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes Hoverbtn{
    0%{
        background-color: var(--color);
    }
    100%{
        background-color: var(--hover-color);
    }
}

@keyframes Hoveroutbtn{
    0%{
        background-color: var(--hover-color);
    }
    100%{
        background-color: var(--color);
    }
}