@media (max-width:1024px){
    .nav{
        padding: 0 50px;
    }
    
    .nav__menu{
        margin-left: 50px;
    }
    
    .nav__btn{
        margin-left: 50px;
    }

    .body__head-menu{
        justify-content: center;
    }

    .body__article-content{
        padding-top: 30px;
    }

    .body__article-content--heading{
        text-align: center;
    }

    .body__article-content--form-input{
        width: 380px;
    }
    
    .body__article-content--menu-item{
        text-align: center;
    }

    .body__article-content--menu-item-text{
        text-align: center;
    }

}