.app{
    max-width: 1440px;
    margin: 0 auto;
    border-right: 1px solid black; 
    border-left: 1px solid black; 
    /* note */
}

.nav{
    display: flex;
    height: 88px;
    justify-content: space-evenly;
    /* padding: 0 167px; */
}

.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 370px; */
    padding-left: 75px;
}

.nav__menu--item{
    display: block;
    margin: 25px 22px;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text);
}

.nav__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 150px; */
}

.nav__btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
    height: 42px;
    width: 80px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
}

.nav__btn--login{
    color: var(--blue-btn);
    transition: all ease 0.3s;
}
.nav__btn--login:hover{
    background-color: var(--blue-btn);
    color: var(--white);
}

.nav__btn--start{
    background-color: var(--blue-btn);
    color: var(--white);
    margin-left: 10px;
}
.nav__btn--start:hover{
    color: var(--blue-btn);
    background-color: var(--white);
    border: 1px solid var(--blue-btn);
    transition: all ease 0.3s;
}

.nav__moblie-icon{
    display: none;
    cursor: pointer;
}

.header__box{
    position: relative;
    height: 560px;
}

.header__bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__content{
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content-box{
    height: 286px;
    width: 730px;
}

.header__content--heading{
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: var(--text);
}

.header__content--desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: var(--text-sub);
    padding-top: 30px;
}

.header__content--btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content--btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    height: 42px;
    width: 140px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    box-sizing: content-box;
}

.header__content--btn-start{
    background-color: var(--blue-btn);
    color: var(--white);
    margin-right: 30px;
    border: 1px solid transparent;
    transition: all ease 0.3s;
}
.header__content--btn-start:hover{
    background-color: var(--white);
    color: var(--blue-btn);
    border: 1px solid var(--blue-btn);
}

.header__content--btn-learn{
    color: var(--blue-btn);
    border: solid 1px var(--blue-btn);
    transition: all ease 0.3s;
}
.header__content--btn-learn:hover{
    color: var(--white);
    background-color: var(--blue-btn);
}


.body__head{
    text-align: center;
    padding: 0px 50px;
    margin: 100px 0;
}

.body__head-heading{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: var(--text);
}

.body__head-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; 
    color: var(--text-sub);
    padding-top: 24px;
    padding-bottom: 40px;
}

.body__head-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    /* align-content: center; */
    align-items: center;
}

.body__head-menu--item{
    text-align: center;
    width: 300px;
    margin: 0 40px 40px;
}

.body__head-menu--item-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding-top: 30px;
    color: var(--text);
}

.body__head-menu--item-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
    color: var(--text);
}

.body__head-menu--item-more{
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    color: var(--blue-btn);
}

.body__article{
    padding: 0px 50px;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.body__article:nth-child(2n){
    flex-direction: row-reverse;
}

.body__article-img{
    width: 540px;
    height: 440px;
    margin: 0 15px;
}

.body__article-img--link{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body__article-content{
    width: 540px;
    margin: 0 15px;
}

.body__article-content--heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: var(--text);
}

.body__article-content--desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-top: 32px;
    color: var(--text-sub);
}

.body__article-content--form{
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.body__article-content--form-input{
    width: 377px;
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    background-color: var(--white-bg);
    outline: none;
    border: none;
    color: var(--text-sub);
}

.body__article-content--form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 42px;
    color: var(--white);
    background-color: var(--blue-btn);
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    margin-left: 20px;
    transition: all ease 0.3s;
}
.body__article-content--form-btn:hover{
    color: var(--blue-btn);
    background-color: var(--white);
    border: 1px solid var(--blue-btn);
}

.body__article-content--footer{
    padding-top: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: var(--text-sub);
}

.body__article-content--menu{
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.body__article-content--menu-item{
    width: 240px;
    margin: 0 15px 40px;
}

.body__article-content--menu-item-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: var(--text-sub);
    margin-top: 20px;
}

.body__aside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    margin: 100px 0;
}

.body__aside-item{
    width: 255px;
    margin: 0 15px 50px;
}

.body__aside-item--img{
    width: 100%;
    height: 260px;
}

.body__aside-item--img-link{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body__aside-item--text{
    text-align: center;
    padding-top: 32px;
}

.body__aside-item--text-label{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text);
}

.body__aside-item--text-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
    color: var(--text);
}